<nav>
	<uo>
		<li>
			<a href="/portfolio">Portfolio</a>
		</li>
		<li>
			<a href="/"></a>
		</li>
		<li>
			<a href="/contact">Contact</a>
		</li>
		<li>
			<a href="/blog">Blog</a>
		</li>
		<li>
			<a href="/blog">Blog</a>
		</li>
	</uo>

</nav>